@import url(https://fonts.googleapis.com/css?family=Asap:400,700italic);

body {
  background-color: #0e2640;
  color: #d73e57;
  font-family: 'Asap', sans-serif;
  margin: 0;
}
h1 {
  font-size: 47px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

img {
  width: 100%;
}
a {
  display: inline-block;
  color: #d73e57;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}
a:hover {
  background-color: #d73e57;
  color: #FFF;
}
.content {
  padding-left: 1rem;
  padding-right: 1rem;
}