@import url(https://fonts.googleapis.com/css?family=Asap:400,700italic);

body {
  background-color: #0e2640;
  color: #d73e57;
  font-family: 'Asap', sans-serif;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 47px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
a {
  font-weight: 700;
  color: #d73e57;
  transition: color .2s;
}
a:hover {
  color: #FFF;
}
img {
  width: 100%;
}
.add-to-calendar {
  display: inline-block;
  color: #d73e57;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
  margin-bottom: 1rem;
}
.add-to-calendar:hover {
  background-color: #d73e57;
  color: #FFF;
}
.content {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
}
.video-js { 
  padding-top: 56.25% !important;
  width: 100%;
  height: auto;
}
.vjs-fullscreen {
  padding-top: 0px !important;
}
video {
  object-fit: inherit;
}